*.pyc
*.snap
__pycache__
build/mo/*
dist/*.tar.gz
parts/
snap/.snapcraft
snap/gui/
stage/
prime/
configure.in
/configure.ac
autom4te.cache/
/config.log
/config.status
/configure
/cleanup.sh
*.pxu.in
manage.py.in
/launchers/*.in
snapcraft.yaml.in
checkbox_provider.py.in
install.in
